<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="API_KEY" value="895c2645-5a3f-4209-bc68-52ee7d0c18cf"/>
		<add key="API_KEY_SECRET" value="d85918e2-1fbb-4932-bece-d2082b6b8293"/>
		<add key="CLIENT_ID" value="7a18ab11-5327-4a49-b2c3-5ab7f78dcad9"/>
		<add key="CLIENT_ID_SECRET" value="4d617477-3c99-433c-a9ec-3fab54db9042"/>
		<add key="HOST" value="https://sandbox.bca.co.id:443"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
